body {
  font-family: Georgia, serif;
  margin: 10px;
  padding: 0;
  color: rgb(38, 51, 42);
  background-color: rgb(230, 230, 230);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.newUserModal {
  display: none;
}
